<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
    </head>

    <body>
        <div class="navbar">
            <a href="{{ url_for('home')}}" class="navbar-brand">Article Analysis</a>
            
            <div class="dropdown">
                <button class="dropbtn">Exisiting News Articles ▼</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('cnndata') }}" class="navbar-item">CNN Data</a>
                    <a href="{{ url_for('nprdata') }}" class="navbar-item">NPR Data</a>
                    <a href="{{ url_for('nytdata') }}" class="navbar-item">NYT Data</a>
                    <a href="{{ url_for('foxdata') }}" class="navbar-item">FOX Data</a>
                    <a href="{{ url_for('bbcdata') }}" class="navbar-item">BBC Data</a>
                    <a href="{{ url_for('cbcdata') }}" class="navbar-item">CBC Data</a>
                    <a href="{{ url_for('nypdata') }}" class="navbar-item">NYP Data</a>
                </div>
            </div>
        </div>

        <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <p>&copy; 2025</p>
            </footer>
        </div>
    </body>
</html>
